@import 'variables';
@import "media-queries";
@import 'colors';

.content-wrap {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    background-size: cover;
    background-position: 100% 0;
}

.dc-logo {
    background: url(/images/home/top-icon-logo-white.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
}

.chevron {
    background: url(/images/svg/chevron-left-white.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.chevron a {
    padding: 20%;
    background: transparent;
}

.boxes-img {
    width: 381px;
    float: left;
    position: absolute;
}

.subscribe-basic-stylish-banner {
    composes: banner;
    height: 800px;
    background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Subscription/Subscription_Hero_2x.jpg');
    padding-top: 150px;
}

.title {
    margin: 0;
    font-size: 58px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.supporting-text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    line-height: 0px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
}

.submit-container {
    width: 100%;
    lost-align: center;
    height: 80px;
    margin-top: 120px;
}

.enjoy-submit-container {
    width: 100%;
    lost-align: center;
    height: 80px;
}

.enjoy-custom-contact-submit {
    composes: button from "ui/css/buttons.css";
    width: 300px;
    height: 68px;
    background: var(--whitish);
    border: 4px solid var(--whitish);
    font-size: 16px;
    color: #7B8EE3;;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

    &:hover {
         background: #7B8EE3;;
         color: #fff;
     }

    &:active {
         background: var(--blueish);
     }
}

.custom-contact-submit {
    composes: button from "ui/css/buttons.css";
    width: 300px;
    height: 68px;
    background: var(--whitish);
    border: 4px solid var(--whitish);
    font-size: 16px;
    line-height: 2em;
    color: #7ABAFF;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

    &:hover {
         background: #7ABAFF;
         color: #fff;
     }

    &:active {
         background: var(--blueish);
     }
}

.learn-more {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 0px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 80px;
}

.the-details {
    height: 1000px;
    background-color: #7B8EE3;
}

.plan-background {
    background-color: #E3ECFA;
}

.the-details-row {
    lost-utility: clearfix;
}

.second-row {
    height: 471px;
    margin-left: 2%;
    margin-right: 2%;
}

.td-header {
    margin-top: 80px;
    font-size: 47px;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    color: white;
}

.td-header-supporting-text {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    line-height: 0px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 100px;
}

.the-details-column {
    lost-column: 1/3;
    lost-align: center;
    height: inherit;
    float: left;
    padding-top: 75px;
}

.tdc-icon {
    height: 129px;
    width: 129px;
    position: relative;
}

.tdc-header {
    font-family: var(--font-main);
    font-size: 24px;
    color: white;
    line-height: 30px;
    height: 42px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.tdc-description {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    lost-align: center;
    height: 275px;
    text-align: center;
    color: white;
    width: 280px;
}

.plan-the-details-row {
    margin-top: 100px;
    lost-utility: clearfix;
}

.plan-td-header {
    margin-top: 80px;
    font-size: 36px;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    color: #212121;
    letter-spacing: 1px;
}

.plan-tdc-header {
    font-family: var(--font-main);
    font-size: 24px;
    line-height: 30px;
    height: 42px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #212121;
}


.plan-supporting-text {
    font-weight: 400;
    font-size: 20px;
    color: #212121;
}

.plan-tdc-description {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    lost-align: center;
    height: 275px;
    text-align: center;
    width: 600px;
    color: #212121;
}

.plan-questions {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: #212121;
    line-height: 0px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 80px;
}

.plan-chevron {
    background: url(/images/svg/chevron-left-dark.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.plan-chevron a {
    padding: 20%;
    background: transparent;
}

.qa-background {
    background-color: #D2DDED;
}

.qa-td-header {
    margin-top: 80px;
    font-size: 46px;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    color: #212121;
}

.qa-the-details-column {
    lost-column: 1/2;
    lost-align: center;
    height: inherit;
    float: left;
    padding-top: 75px;
}

.qa-second-row {
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
}

.qa-article-banner {
    color: #212121;
    font-family: var(--font-main);
}

.qa-article-header {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.qa-article-description {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.qa-submit-container {
    width: 100%;
    lost-align: center;
    height: 80px;
}

.qa-custom-contact-submit {
    composes: button from "ui/css/buttons.css";
    width: 300px;
    height: 68px;
    background: #363636;
    border: 4px solid #363636;
    font-size: 16px;
    color: #D2DDED;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

&:hover {
     background: #D2DDED;;
     color: #363636;
 }

&:active {
     background: var(--blueish);
 }
}

