@import 'media-queries.css';
@import 'colors.css';

.fieldset {
  display: flex;
}

.code-field {
  flex-grow: 1;
}

.code {
  composes: text-input from "ui/css/input.css";
  width: 100%;
  border-right: none;
}

.submit {
  padding: 0 20px;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #363636;
  text-transform: uppercase;
  min-width: 9em;
  height: 36px;

  &:hover {
    background: var(--whitish);
    border: 2px solid black;
    color: black;
  }
}

@media (--small-only) {
  .code {
    height: 36px;
  }
}

@media (--medium) {
  .submit {
    padding: 0 30px;
    font-size: 14px;
    height: 46px;
  }
}
