@import 'media-queries.css';
@import 'colors.css';
@import "variables.css";

.fieldset {
  display: flex;
  flex-wrap: wrap;

  & :global(.fc-errors) {
    width: 100%;
    margin-top: 10px;
  }

  & :global(.fc-alert) {
    border-radius: 0;
    margin-top: 0;
  }
}

.code-field {
  flex-grow: 1;
}

.code {
  composes: text-input from "ui/css/input.css";
  width: 100%;
  border-right: none;
}

.submit {
  padding: 0 20px;
  border: none;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #363636;
  text-transform: uppercase;
  min-width: 9em;
  height: 36px;

  &:hover {
    background: var(--whitish);
    border: 2px solid black;
    color: black;
  }
}

.promo-title {
  text-transform: uppercase;
}

.promo-description {
  display: flex;
  align-items: center;
  color: #212121;
}

.promo-description-wrapper {
  flex-grow: 1;
  line-height: 23px;
  font-weight: 300;
}

.delete-promo-btn {
  composes: delete-button from '../../components/cart/line-item.css';
  line-height: 15px;
  padding-left: 10px;
}

.delete-promo-icon {
  composes: delete-icon from '../../components/cart/line-item.css';
}

@media (--small-only) {
  .code {
    height: 36px;
  }
  .submit {
    padding-left: 0;
    padding-right: 0;
    min-width: 4em;
  }
  .fieldset {
    flex-wrap: nowrap;
  }
}

@media (--medium) {
  .submit {
    padding: 0 30px;
    font-size: 14px;
    height: 46px;
  }
}
