@import 'variables.css';
@import 'colors.css';

.wrap {
  composes: wrap from 'ui/css/layout.css';
  composes: inner-wrap from 'ui/css/layout.css';
}

.banner {
  width: 100%;
  background-size: cover;
  background-position: 100% 0;
}

.about-us-banner {
  composes: banner;
  height: 400px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Our+Story/Our_Story_Hero_2x.jpg');
  padding-top: 150px;
}

.title {
    margin: 0;
    font-size: 47px;
    color: white;
    text-align: center;
  }


.be-bold-banner {
  composes: banner;
  height: 640px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Our+Story/Bold_Polished_White_2x.jpg');

  & article {
    lost-column: 1/3;
  }
}

.design-banner {
  composes: banner;
  height: 620px;
  background-image: url('images/banners/our-story-design.jpg');

  & article {
    lost-column: 4/9;
  }
}

.trusted-manufacturer {
  composes: banner;
  height: 640px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Our+Story/Manufacturer_2x.jpg');
  background-position: 50% 0;

  & article {
    color: var(--whitish);
    lost-column: 1/3;
    lost-offset: -2/3;
    text-align: right;

    & h2 {
      margin-left: -3em;
    }
  }
}


.the-details {
  height: 700px;
}

.the-details-row {
  lost-utility: clearfix;
}

.second-row {
  height: 471px;
  margin-left: 2%;
  margin-right: 2%;
}

.td-header {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 47px;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}

.the-details-column {
  lost-column: 1/4;
  lost-align: center;
  height: inherit;
  float: left;
  padding-top: 75px;
}

.tdc-icon {
  height: 129px;
  width: 129px;
  position: relative;
}

.tdc-header {
  font-family: var(--font-main);
  font-size: 20px;
  color: #363636;
  line-height: 30px;
  height: 42px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.tdc-description {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 14px;
  color: #363636;
  line-height: 30px;
  position: relative;
  lost-align: center;
  height: 275px;
  text-align: center;
}


