@import "colors.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.shipping-to {
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
    color: #212121;
}

.description {
    margin-top: 20px;
    color: var(--bunker);
    font-size: 15px;
    line-height: 22px;
}

.address-form-container {
    margin-top: 10px;
}

.address-form-container .text-field > * {
    border-color: var(--blackish);
    margin-top: 10px;
    lost-column: 3/3;
}

.address-add-to-cart {
    composes: button-primary from "ui/css/buttons.css";
    background-color: var(--bunker);
    color: var(--whitish);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    lost-column: 3/3;
}