@import "colors.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.newsletter-form {
  display: flex;
  margin-bottom: 58px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;

  & input {
    width: 100%;
    padding-left: 12px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, .12);
    color: #FFFFFF;
    height: 58px;

    &:focus {
     background: rgba(255, 255, 255, .16);
     color: #FFFFFF;
    }
  }
}

.button {
  padding: 0 1.6em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  background: rgba(255, 255, 255, .26);
  border: none;
  height: 58px;
  width: 30%;

  &:hover {
    opacity: .90;
  }
}

.form-field {
  width: 100%;
  margin-right: 12px;
}