@import 'variables.css';
@import 'colors.css';

.banner {
  width: 100%;
  background-size: cover;
  background-position: 100% 0;
}

.terms-banner {
  composes: banner;
  height: 400px;
  padding-top: 150px;
    
  & .title {
    margin: 0;
    font-size: 47px;
    color: black;
    text-align: center;
  }
}

.terms-content {
  & .terms-content-inner {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2.5em;

    & .address-block {
      line-height: 1.3em;
    }

    & ul {
      list-style-type: circle;
      margin-left: 2em;
    }
  }
}
