@import "colors.css";

.address-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-field {
  composes: text-field from "ui/common.css";
}

.text-input {
  composes: text-input from "ui/css/input.css";
}

.theme-white-bg {
  & .text-input, & input[type=text] {
    &::placeholder {
      color: #a5a5a5;
    }
    background: #f4f4f4;
  }
}

.theme-white-bg-dark-border {
  & .text-input, & input[type=text], & input[type=tel] {
    &::placeholder {
       color: #a5a5a5;
     }
    background: var(--whitish);
    border-color: var(--blackish);
  }
}

.with-shipping-title {
  font-weight: 500;
  font-size: 13px;
  color: #212121;
}