@import "colors.css";

.address-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-field {
  composes: text-field from "ui/common.css";
}

.text-input {
  composes: text-input from "ui/css/input.css";
}

.theme-white-bg {
  & .text-input, & input[type=text] {
    &::placeholder {
      color: #a5a5a5;
    }
    background: #f4f4f4;
  }
}

.theme-white-bg-dark-border {
  & .text-input,
  & input[type=text],
  & input[type=number],
  & input[type=tel],
  & select {
    height: 40px;
    font-size: 13px;
    background-color: var(--whitish);
    border-color: var(--blackish);

    &::placeholder {
       color: #C4C4C4;
    }
  }

  & .region-fields {
    display: flex;
    justify-content: space-between;

    & .text-field {
      margin: 0;
      width: calc(50% - 5px);
    }
  }
}

.with-shipping-title {
  font-weight: 500;
  font-size: 13px;
  color: #212121;
}

.address-title {
  font-weight: 600;
  font-size: 13px;
  color: #212121;
  text-transform: uppercase;
}
