@import "media-queries.css";
@import "variables.css";

.wrap {
  height: 100%;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
}

@media (--medium) {
  .wrap {
    display: flex;
    align-items: center;
  }
}

@media (--x-large-viewport-up) {
  .wrap {
    lost-column: 9/11;
    lost-offset: -1/11;
  }
}

@media (--large-viewport) {
  .inner-wrap {
    lost-column: 9/11;
    lost-offset: -1/11;
  }
}

.title-devider {
  &:after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background-color: #8D757A;
    margin-top: 20px;
  }
}

@media (--medium) {
  .title-devider {
    &:after {
      width: 66px;
      margin-top: 30px;
    }
  }
}
