@import "colors.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.container {
  composes: wrap from "ui/css/layout.css";
  composes: inner-wrap from "ui/css/layout.css";
  margin: 80px 0;
  align-items: stretch;
}

.name {
  margin: 40px 0 0;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.7px;
  line-height: 1;
  text-transform: uppercase;
}

.price-container {
  margin-top: 40px;
  color: var(--bunker);
  font-size: 20px;
  line-height: 1;
}

.counter {
  width: 100%;
  margin-top: 40px;
}

.description {
  margin-top: 20px;
  color: var(--bunker);
  font-size: 15px;
  line-height: 22px;
}

.add-to-cart {
  composes: button-primary from "ui/css/buttons.css";
  width: 100%;
  background-color: var(--bunker);
  color: #FFFFFF;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.subcription-form-container {
  lost-column: 3/3;
}

.subcription-form-container > button[type="submit"] {
  lost-column: 3/3;
}

@media (--small-only) {
  .container {
    padding: 0 10px;
  }
}

@media (--medium-only) {
  .container {
    display: block;
    lost-column: 10/12;
    lost-offset: -1/12;
    padding: 0;
    margin-bottom: 120px;
  }
}

@media (--large) {
  .container {
    margin-bottom: 120px;
    padding-top: 50px;
  }

  .name {
    margin-top: 0;
  }

  .price-container {
    margin-top: 30px;
  }

  .counter {
    lost-column: 2/3;
  }

  .add-to-cart {
    lost-column: 2/3;
  }

  .gallery {
    lost-column: 2/3;
  }

  .details {
    display: flex;
    lost-column: 1/3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

}
