@import "colors.css";
@import "media-queries.css";
@import 'ui/css/layout.css';

.container {
  composes: wrap from "ui/css/layout.css";
  composes: inner-wrap from "ui/css/layout.css";
  margin: 80px 0;
  padding-top: 16px;
  align-items: stretch;
}

.gallery {
  lost-column: 2/3;
}

.details {
  display: flex;
  lost-column: 1/3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.name {
  margin: 0;
  color: var(--bunker);
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
}

.price {
  margin-top: 20px;
  color: var(--bunker);
  font-size: 20px;
  line-height: 1;
}

.description {
  margin-top: 20px;
  color: var(--bunker);
  font-size: 15px;
  line-height: 22px;
}

.counter {
  lost-column: 2/3;
  margin-top: 20px;
}

.add-to-cart {
  composes: button-primary from "ui/css/buttons.css";
  background-color: var(--bunker);
  color: #FFFFFF;
  lost-column: 2/3;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.shipping-to {
  margin-top: 20px;
  font-weight: 500;
  font-size: 13px;
  color: #212121;
}

/* Subscription Address Form */

.address-form-container {
  margin-top: 10px;
}

.address-form-container > .text-field > input[name^=address-] {
  border-color: var(--blackish);
  margin-top: 10px;
  lost-column: 3/3;
}

.address-country > * {
  margin-top: 10px;
  lost-column: 1/2;
  float: left;
}

.address-zip > .text-field > input[name^=input-zip] {
  border-color: var(--blackish);
  margin-top: 10px;
  lost-column: 1/2;
  float: right;
}

.address-city > .text-field > input[name^=input-city] {
  border-color: var(--blackish);
  margin-top: 10px;
  lost-column: 1/2;
  float: left;
}

.address-state > * {
  margin-top: 10px;
  lost-column: 1/2;
  float: right;
}

.address-add-to-cart {
  composes: button-primary from "ui/css/buttons.css";
  background-color: var(--bunker);
  color: var(--whitish);
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  lost-column: 3/3;
}