@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.link {
  composes: link from 'ui/css/links.css';
}

.links {
  composes: links from 'ui/css/links.css';
}

.holiday-banner1 {
  width: 100%;
  height: 978px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Hero_Holiday_3_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);
  margin-bottom: 30px;

  & a {
    height: 68px;
    width: 256px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--blackish);
    border-color: var(--blackish);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0px;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & article {
    lost-column: 1/3;
    margin-bottom: 32px;

    & h2 {
      color: var(--blackish);
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 1px;
      margin-bottom: 60px;
      text-align: center;
    }

    & h3 {
      max-height: 0px;
      margin: 0px;
    }
  }
}

.holiday-banner2 {
  width: 100%;
  height: 978px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Hero_Holiday_2_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);
  margin-bottom: 30px;

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--bunker);
    border-color: var(--bunker);
    text-transform: uppercase;
    font-size: 16px;
    width: 256px;
    margin-left: auto;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & article {
    lost-column: 1/2;
    lost-offset: -1/2;
    margin-bottom: 225px;
    text-transform: uppercase;
    text-align: right;

    & h2,
    & h3 {
      color: var(--blackish);
    }

    & h2 {
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 1px;
      margin-bottom: 0px;
    }

    & h3 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
      margin-top: 10px;
    }
  }
}

.emph {
  font-weight: 600;
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.subscribe-banner {
  composes: centered-banner from './home.css';
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;

  & a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 68px;
  }
}

.custom-socks-banner {
  composes: centered-banner from './home.css';
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Yarn_Filtered_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;

  & a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 68px;
  }
}
