@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.top-banner {
  width: 100%;
  height: 846px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Scotch_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);

  & a {
    color: var(--blackish);
    border-color: var(--blackish);

    &:before {
      background-color: var(--blackish);
    }
  }

  & article {
    lost-column: 1/3;
  }
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.descriptive-content {
  height: 450px;
  padding-top: 100px;

  & .dc-logo {
    background: url(/images/home/top-icon-logo.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
  }

  & .dc-text {
    font-family: Lato;
    font-weight: 400px;
    font-size: 27px;
    color: #212121;
    line-height: 39px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.centered-banner {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--whitish);
  text-align: center;

  & article {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }

  & a {
    color: var(--whitish);
    border-color: var(--whitish);

    &:before {
      background-color: var(--whitish);
    }
  }
}

.subscribe-banner { 
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_2x.jpg') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bundles-banner {
  composes: centered-banner;
  background: url('/images/home/bundles-2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--blackish);

  & article {
    lost-column: 1/2;
    lost-offset: -1/2;
  }

  & a {
    color: var(--blackish);
    border-color: var(--blackish);

    &:before {
      background-color: var(--blackish);
    }
  }
}


.custom-socks-banner {
  composes: centered-banner;
  background: url('/images/home/yarn-filtered-2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
