@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.link {
  composes: link from 'ui/css/links.css';
}

.links {
  composes: links from 'ui/css/links.css';
}

.top-banner {
  width: 100%;
  height: 846px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Scotch_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);
  margin-bottom: 60px;

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--bunker);
    border-color: var(--bunker);
    text-transform: uppercase;
    font-size: 16px;

    & + a {
      margin-top: 10px;
    }

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & article {
    & h2,
    & h3 {
      color: var(--bunker);
    }
  }
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.descriptive-content {
  height: 450px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 36px;
  color: var(--blackish);

  & .dc-logo {
    background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Top+Icon+Logo.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
  }

  & .dc-text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.centered-banner {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--whitish);
  text-align: center;
  margin-bottom: 60px;

  & a {
    color: var(--blackish);
    border-color: var(--whitish);
    background-color: var(--whitish);

    &:before {
      background-color: var(--whitish);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.subscribe-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-socks-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Yarn_Filtered_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;

  & a {
    background-color: var(--whitish);
    color: var(--blackish);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 68px;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

@media (--small-only) {
  .top-banner {
    padding-top: 140px;
    height: 668px;
    background-position: 30% 0;
  }

  .subscribe-banner {
    padding-top: 50px;
    height: 560px;
  }

  .custom-socks-banner {
    padding-top: 20px;
    height: 340px;
  }
}

@media (--medium) {
  .top-banner,
  .subscribe-banner {
    & h2,
    & h3,
    & div {
      justify-content: flex-start;
    }
  }

  .custom-socks-banner {
    & h2,
    & h3,
    & div {
      justify-content: flex-end;
      text-align: right;
    }

    & article {
      lost-column: 1/11*5;
      lost-offset: 1/11;
      margin-bottom: 225px;  
    }
  }
  
  .top-banner {
    & article {
      lost-column: 1/11*5;
      lost-offset: -1/11;
      margin-bottom: 225px;  
    }    

    & a {
      font-size: 20px;

      & + a {
        margin-top: 0;
        margin-left: 10px;
      }
    }
  }

  .centered-banner {
    & article {
      width: 65%;
      margin-left: 17.5%;
      margin-right: 17.5%;
    }
  }
  
  .subscribe-banner {
    & article {
      lost-column: 1/11*5;
      lost-offset: -1/11;
      margin-bottom: 225px;
      margin-left: 0;
      margin-right: 0;      
    }
  }
  
  .descriptive-content {
    & .dc-text {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  .custom-socks-banner {
    .header {
      justify-content: flex-end;
    }
  }
}

@media (--large) {
  .top-banner a {
    font-size: 23px;
  }
}
