@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.top-banner {
  width: 100%;
  height: 846px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Scotch_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);

  & a {
    color: var(--blackish);
    border-color: var(--blackish);

    &:before {
      background-color: var(--blackish);
    }
  }

  & article {
    lost-column: 1/3;
  }
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.descriptive-content {
  height: 450px;
  padding-top: 100px;

  & .dc-logo {
    background: url(/images/home/top-icon-logo.svg);
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
  }

  & .dc-text {
    font-family: Lato;
    font-weight: 400px;
    font-size: 27px;
    color: #212121;
    line-height: 39px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.subscribe-banner {
  width: 100%;
  height: 720px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--whitish);
  text-align: center;

  & article {
    lost-column: 1/3;
    lost-offset: -2/3;
  }

  & a {
    color: var(--whitish);
    border-color: var(--whitish);

    &:before {
      background-color: var(--whitish);
    }
  }
}

.custom-socks-banner {
  width: 100%;
  height: 608px;
  --dark-greyish: #454545;
  color: var(--dark-greyish);
  text-align: center;

  & .wrap > article {
    lost-column: 1/3;
  }

  & a {
    color: var(--dark-greyish);
    border-color: var(--dark-greyish);

    &:before {
      background-color: var(--dark-greyish);
    }
  }

  & .custom-socks-banner__image {
    lost-column: 2/3;
    height: 416px;
    background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Yarn_2x.jpg') 50% 0 no-repeat;
    background-size: 100%;
  }
}
