@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.link {
  composes: link from 'ui/css/links.css';
}

.links {
  composes: links from 'ui/css/links.css';
}

.top-banner {
  width: 100%;
  height: 846px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Scotch_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--bunker);
    border-color: var(--bunker);
    text-transform: uppercase;
    font-size: 15px;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & article {
    & h2,
    & h3 {
      color: var(--bunker);
    }
  }
}

.holiday-banner1 {
  width: 100%;
  height: 978px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Hero_Holiday_3_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);
  margin-bottom: 30px;

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--blackish);
    border-color: var(--blackish);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0px;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & article {
    lost-column: 1/3;
    margin-bottom: 32px;

    & h2 {
      color: var(--blackish);
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 1px;
      margin-bottom: 60px;
      text-align: center;
    }

    & h3 {
      max-height: 0px;
      margin: 0px;
    }
  }
}

.holiday-banner2 {
  width: 100%;
  height: 978px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Hero_Holiday_2_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);
  margin-bottom: 30px;

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--bunker);
    border-color: var(--bunker);
    text-transform: uppercase;
    font-size: 16px;
    width: 256px;
    margin-left: auto;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
    }
  }

  & .dc-text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-align: right;

    & h2,
    & h3 {
      color: var(--blackish);
    }

    & h2 {
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 1px;
      margin-bottom: 0px;
    }

    & h3 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
      margin-top: 10px;
    }
  }
}

.emph {
  font-weight: 600;
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.centered-banner {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--whitish);
  text-align: center;

  & a {
    color: var(--whitish);
    border-color: var(--whitish);

    &:before {
      background-color: var(--whitish);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.subscribe-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bundles-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Bundle_New_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--blackish);

  & article {
    & h2,
    & h3 {
      color: var(--bunker);
    }
  }

  & a {
    background-color: var(--whitish);
    color: var(--blackish);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 68px;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.custom-socks-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Yarn_Filtered_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;

  & a {
    background-color: var(--whitish);
    color: var(--blackish);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 68px;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

@media (--small-only) {
  .top-banner {
    padding-top: 140px;
    height: 668px;
    background-position: 30% 0;
  }

  .subscribe-banner {
    padding-top: 50px;
    height: 560px;
  }

  .bundles-banner {
    background-size: auto 59%;
    background-position: 0 111%;
  }

  .custom-socks-banner {
    padding-top: 20px;
    height: 340px;
  }
}

@media (--medium) {
  .top-banner {
    & article {
      lost-column: 1/3;
      margin-bottom: 225px;
    }

    & a {
      font-size: 20px;
    }
  }

  .bundles-banner {
    & article {
      lost-column: 1/2;
      lost-offset: -1/2;
    }
  }

  .centered-banner {
    & article {
      width: 65%;
      margin-left: 17.5%;
      margin-right: 17.5%;
    }
  }

  .descriptive-content {
    & .dc-text {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}

@media (--large) {
  .top-banner a {
    font-size: 23px;
  }
}

