@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.top-banner {
  width: 100%;
  height: 846px;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Scotch_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  color: var(--blackish);

  & a {
    height: 68px;
    font-weight: 500;
    color: var(--whitish);
    background-color: var(--bunker);
    border-color: var(--bunker);
    text-transform: uppercase;
    font-size: 15px;

    &:before {
      background-color: var(--blackish);
    }

    &:hover {
      background: rgba(32, 32, 32, 0.9);
      border-color: rgba(32, 32, 32, 0.9);
      color: var(--whitish);
    }
  }

  & article {
    & h2,
    & h3 {
      color: var(--bunker);
    }
  }
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
}

.descriptive-content {
  height: 450px;
  padding-top: 100px;

  & .dc-logo {
    background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Top+Icon+Logo.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
  }

  & .dc-text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.centered-banner {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--whitish);
  text-align: center;

  & a {
    color: var(--whitish);
    border-color: var(--whitish);

    &:before {
      background-color: var(--whitish);
    }
  }
}

.subscribe-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Subscribe_Filtered_2x.jpg') 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bundles-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Bundle_New_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--blackish);

  & article {
    & h2,
    & h3 {
      color: var(--bunker);
    }
  }

  & a {
    color: var(--blackish);
    border-color: var(--blackish);

    &:before {
      background-color: var(--blackish);
    }
  }
}

.custom-socks-banner {
  composes: centered-banner;
  background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Yarn_Filtered_2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (--small-only) {
  .top-banner {
    padding-top: 140px;
    height: 668px;
    background-position: 30% 0;
  }

  .subscribe-banner {
    padding-top: 50px;
    height: 560px;
  }

  .bundles-banner {
    background-size: auto 59%;
    background-position: 0 111%;
  }

  .custom-socks-banner {
    padding-top: 20px;
    height: 340px;
  }
}

@media (--medium) {
  .top-banner {
    & article {
      lost-column: 1/3;
      margin-bottom: 225px;
    }

    & a {
      font-size: 20px;
    }
  }

  .bundles-banner {
    & article {
      lost-column: 1/2;
      lost-offset: -1/2;
    }
  }

  .centered-banner {
    & article {
      width: 65%;
      margin-left: 17.5%;
      margin-right: 17.5%;
    }
  }

  .descriptive-content {
    & .dc-text {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}

@media (--large) {
  .top-banner a {
    font-size: 23px;
  }
}

