@import 'media-queries.css';
@import 'variables.css';
@import 'colors.css';
@import 'ui/css/links.css';

.link {
  composes: link from 'ui/css/links.css';
}

.links {
  composes: links from 'ui/css/links.css';
}

.top-banner,
.subscribe-banner,
.custom-socks-banner {
  padding-top: 0;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;

  & h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  & h3 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  & a {
    width: 139px;
    height: 48px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

.top-banner {
  width: 100%;
  height: 349px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Home_February/Scotch_Filtered.jpg');
  color: var(--whitish);

  & article {
    margin-top: 75px;
  }

  & a {
    color: var(--blackish);
    border-color: var(--whitish);
    background-color: var(--whitish);

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }

    & + a {
      margin-top: 10px;
    }
  }
}

.wrap {
  composes: wrap from 'ui/css/layout.css';
  position: relative;
}

.descriptive-content {
  height: 450px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 36px;
  color: var(--blackish);

  & .dc-logo {
    background: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/home/Top+Icon+Logo.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0px auto 60px auto;
  }

  & .dc-text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    color: #212121;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.centered-banner {
  width: 100%;
  height: 349px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--whitish);
  text-align: center;

  & a {
    color: var(--blackish);
    border-color: var(--whitish);
    background-color: var(--whitish);

    &:hover {
      background: rgba(255, 255, 255, 0.9);
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.subscribe-banner {
  composes: centered-banner;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Home_February/Holiday+Gift+Box.jpg');
}

.custom-socks-banner {
  position: relative;
  composes: centered-banner;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Home_February/Spools.jpg');

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.18);
  }
}

@media (--small-only) {
  .top-banner {
    background-position: 60% 0;

    & article {
      max-width: 280px;
    }
  }

  .top-banner,
  .subscribe-banner {
    position: relative;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.18);
    }
  }

  .subscribe-banner,
  .custom-socks-banner {
    background-position: center center;

    & article {
      max-width: 280px;
    }
  }

  .subscribe-banner {
    padding-top: 50px;
  }

  .custom-socks-banner {
    padding-top: 20px;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (--medium) {
  .top-banner,
  .subscribe-banner {
    & article {
      lost-column: 1/11*5;
      lost-offset: -1/11;
    }

    & h2,
    & h3,
    & div {
      justify-content: flex-start;
    }
  }

  .top-banner {
    & h2,
    & h3 {
      color: var(--bunker);
    }

    & a {
      color: var(--whitish);
      background-color: var(--bunker);
      border-color: var(--bunker);

      &:hover {
        background: rgba(32, 32, 32, 0.9);
        border-color: rgba(32, 32, 32, 0.9);
      }
    }
  }
  .custom-socks-banner {
    & h2,
    & h3,
    & div {
      justify-content: flex-end;
      text-align: right;
    }

    & article {
      lost-column: 1/11*5;
      lost-offset: 1/11;
    }
  }

  .top-banner {
    & a + a {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  .subscribe-banner {
    & article {
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .descriptive-content {
    & .dc-text {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  .custom-socks-banner {
    .header {
      justify-content: flex-end;
    }
  }
}

@media (--large) {
  .top-banner,
  .subscribe-banner,
  .custom-socks-banner {
    height: 650px;

    & h2 {
      font-size: 27px;
      letter-spacing: 2.6px;
    }

    & h3 {
      font-size: 15px;
    }

    & a {
      height: 60px;
      font-size: 14px;
    }
  }

  .top-banner {
    & a {
      width: 166px;
    }
  }

  .subscribe-banner,
  .custom-socks-banner {
    & a {
      @apply --btn-blueviolet;
      width: 152px;
    }
  }
}
