@import "variables";
@import "media-queries";
@import "colors";

.banner {
  width: 100%;
  background-size: cover;
  background-position: 100% 0;
}

.custom-banner {
  composes: banner;
  height: 400px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Custom/Custom_Hero_Filtered_2x.jpg');
  padding-top: 150px;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--whitish);
  text-align: center;
}

.descriptive-content {
  padding-top: 40px;

  & .dc-logo {
    background: url(/images/home/top-icon-logo.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 33px;
    margin: 0 auto 30px;
  }

}

.reach-out {
  background-color: #F4F4F4;
  padding-top: 100px;
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Custom/Reach_Out_2x.png');
  background-repeat: no-repeat;
  background-position: 98% 0;
  background-size: 300px 425px;

  & .ro-header {
    font-family: var(--font-main);
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 0.83px;
    font-weight: 600;
    color: #212121;
    margin-top: 2em;
    text-align: center;
  }
}

.supporting-text {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 17px;
  color: #212121;
  line-height: 39px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.custom-contact-form-container {
}
.custom-contact-form {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 25px;

  & .text-field {
    width: 100%;
    display: none;
    padding-bottom: 10px;

    & input[type=text] {
      width: 100%;
    }

    & textarea {
      line-height: 17px;
      font-size: 16px;
      padding: 11px 6px;
      width: 100%;
      height: 160px;
    }
  }

}

.submit-container {
  width: 100%;
  lost-align: center;
  height: 80px;
}

.custom-contact-submit {
  composes: button from "ui/css/buttons.css";
  width: 240px;
  height: 60px;
  background: var(--whitish);
  border: 4px solid var(--blackish);
  font-size: 18px;
  color: var(--blackish);
  line-height: 19px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

  &:hover {
    background: #616161;
    color: #fff;
  }

  &:active {
    background: var(--blueish);
  }
}

@media (--small-only) {
  .custom-banner {
    padding: 120px 20px 0;
    background-position: 28% 0;
  }

  .reach-out {
    background-size: 50% auto;
    background-position: 50% -70px;
    padding: 160px 10px 10px;
  }
}

@media (--medium) {
  .title {
    font-size: 36px;
  }

  .descriptive-content {
    padding-top: 100px;
    height: 450px;

    & .dc-logo {
      margin-bottom: 60px;
    }
  }

  .supporting-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .reach-out {
    height: 819px;

    & .ro-header {
      width: 65%;
      margin-right: 17.5%;
      margin-left: 17.5%;
    }
  }
}



