@import "media-queries.css";
@import "colors.css";

.list {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 30px 0 0;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--bunker);

  & ul {
    display: none;
  }
}

@media (--large) {
  .item {
    &:hover {
      & ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(calc(-50% - 4px));
        padding: 10px 0;
        min-width: 117px;
        text-align: center;
        background: var(--whitish);
        border: 1px solid #e9e9e9;

        & li {
          width: 100%;
        }

        & a {
          display: inline-block;
          padding: 10px;
          width: 100%;
          line-height: 20px;
          cursor: pointer;

          &:hover {
            background: var(--white-smokish);
          }
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -4px;
          left: 50%;
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          background: var(--whitish);
          box-shadow: -1px -1px #e9e9e9;
        }
      }
    }
  }

  .item-active {
    border-bottom: 3px solid #3E3436;
  }
}

.item-link {
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--bunker);

  &:hover {
    opacity: 1;
  }
}

@media (--small-only), (--medium-only) {
  .list {
    display: block;
  }

  .item {
    display: block;
    float: left;
    clear: left;

    & ul {
      display: block;
      margin-left: 20px;

      & a {
        line-height: 40px;
        color: var(--whitish);
      }
    }
  }

  .item-active {
    box-shadow: 0 2px rgba(255, 255, 255, 0.70);
  }

  .item-link {
    line-height: 40px;
    color: var(--whitish);
    text-decoration: none;
    margin: 0;
  }
}
