@import "variables";
@import "media-queries";
@import "colors";

.catalog {

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  composes: inner-wrap from 'ui/css/layout.css';

  &:first-child {
    margin-top: 120px;
  }
}

.header {
  height: 400px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  & .title {
    margin: 1em 0 0;
  }

  & .description {
    margin: .7em 0 0;
  }
}

.header-wrap {
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  text-align: center;
}

.title {
  font-weight: 600;
  font-family: var(--font-main);
  font-size: 30px;
  color: var(--bunker);
  letter-spacing: 1px;
  text-transform: capitalize;
}

.description {
  font-size: 27px;
  font-family: var(--font-main);
  color: var(--bunker);
}

.header-classic,
.header-modern,
.header-all,
.header-bundles {
  composes: header;
}

.header-eyeglasses-men,
.header-eyeglasses-women,
.header-sunglasses-men,
.header-sunglasses-women {
  composes: header;
  color: var(--whitish);
}

.header-classic {
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Classic_Collection_New_Hero_2x.jpg');
}

.header-modern {
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Modern_Collection_Hero_New_2x.jpg');
}

.header-all {
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/All_Collections_Hero_New_2x.jpg');
}

.header-bundles {
  background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Bundles_Hero_2x.jpg');
}

.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--small-only), (--medium-only) {
  .list {
    padding: 0;
  }

  .header {
    justify-content: center;
  }

  .description {
    font-size: 15px;
    letter-spacing: 1.7px;
  }

  .title {
    font-size: 43px;
    letter-spacing: 4.88px;
  }
}
