@import "variables";
@import "media-queries";
@import "colors";

.catalog {

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  composes: inner-wrap from 'ui/css/layout.css';

  &:first-child {
    margin-top: 120px;
  }
}

.header-wrap {
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  min-width: 500px;
  text-align: center;
  white-space: nowrap;
}

@media (--x-large-viewport-up) {
  .header-wrap {
    lost-offset: -1/11;
  }
}

.header {
  height: 400px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  & .title {
    margin: 1em 0 0;
    font-family: Lato-Bold;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 47px;
    color: #363636;
  }

  & .description {
    margin: .7em 0 0;
    font-size: 27px;
    color: #363636;
    font-family: Lato-Regular;
  }
}

.header-classic,
.header-modern,
.header-all, 
.header-bundles {
  composes: header;
}

.header-eyeglasses-men,
.header-eyeglasses-women,
.header-sunglasses-men,
.header-sunglasses-women {
  composes: header;
  color: var(--whitish);
}


.header {
  &-classic {
    background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Classic_Collection_New_Hero_2x.jpg');
  }

  &-modern {
    background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Modern_Collection_Hero_New_2x.jpg');
  }

  &-all {
    background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/All_Collections_Hero_New_2x.jpg');
  }

  &-bundles {
    background-image: url('https://s3-us-west-1.amazonaws.com/fc-td-storefront/images/Categories/Bundles_Hero_2x.jpg');
  }
}


.not-found {
  text-transform: uppercase;
  margin: 80px 0;
  text-align: center;
  width: 100%;
}

@media (--small-viewport) {
  .list {
    justify-content: space-between;
  }
}
