@import "colors.css";
@import "media-queries.css";

.markdown-content {
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 39px;

  & p {
    font-weight: 400;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 39px;
  }

  & h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 1.7px;
  }

  & ul {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 39px;
    text-align: justify;
  }

  & ol {
    line-height: 39px;
    text-align: justify;
    padding-left: 1em;

    & li {
      padding-left: 1em;
    }
  }

  & table {
    border: 3px solid #212121;
    margin-top: 40px;
    margin-bottom: 80px;
    border-collapse: collapse;

    & thead {
      font-size: 20px;
      font-weight: bold;
      line-height: 40px;
    }

    & tbody {
      & tr {
        padding: 10px;
        height: 2.5em;
        border: 1px dotted #212121;
      }
    }
  }

}
.page-title {
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 27px;
  line-height: 39px;
  letter-spacing: 2.7px;
  margin-top: 60px;
  margin-bottom: 20px;

}


.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 100px;
}

.divider {
  width: 66px;
  border: 1px solid #212121;
}

.page-content {
  lost-column: 1/1;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 120px;
}

.title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.7px;
}

.paragraph-title {
  line-height: 33px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #212121;
  letter-spacing: 2.26px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 33px;
}

.well {
  margin-top: 60px;
  margin-bottom: 120px;
  background: var(--whitish);
  border: 3px solid #F4F4F4;
  padding: 30px;
  text-align: center;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: #8D757A;
  line-height: 33px;
  text-decoration: underline;

  &:hover {
    color: var(--bunker);
  }
}

@media (--medium) {
  .page-title {
    font-size: 41px;
  }

  .page-content, .markdown-content {
    padding: 0;
  }

  .title-block {
    padding: 0;
  }
}

@media (--medium-only) {
  .page-content, .markdown-content {
    lost-column: 5/6;
    lost-offset: -1/12;
  }
}

@media (--large) {
  .page-content, .markdown-content {
    lost-column: 2/3;
    lost-offset: -1/6;
  }
}
