@import "media-queries";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 213px;
  text-transform: uppercase;
  background: #f4f4f4;
}

.title {
  margin: 0;
  font-size: 16px;
}

.term {
  margin: 20px 0 0;
  font-size: 14px;
}

@media (--large) {
  .header {
    height: 320px;
    background-position: 50% 100%;
  }

  .title {
    font-size: 27px;
    letter-spacing: 2.5px;
    font-weight: 600px;
  }

  .term {
    margin-top: 30px;
    font-weight: 500px;
    font-size: 16px;
  }
}
