
@import "media-queries.css";
@import "variables.css";
@import "colors.css";

.footer {
  padding-top: 150px;
  background-color: #363636;
  color: #fff;
  min-height: 350px;

  & a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #aaf3f8;
    }
  }
}

.wrap {
  margin-bottom: 100px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  composes: inner-wrap from 'ui/css/layout.css';
}

.links {
  width: 100%;
  text-align: center;

  & ul {
    width: 100%;
    text-align: center;
    min-width: 150px;
    list-style: none;
    display: inline;
  }

  & li {
    margin: 0 0 20px;
    padding: 0 30px;
    line-height: 20px;
    font-size: 15px;
    list-style: none;
    display: inline;
  }
}

.social {
  width: 100%;

  & input {
    width: 100%;
    padding-left: 12px;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: 13px;
    background-color: rgba(255, 255, 255, .4);
  }

  & :global(.icon--fc-arrow) {
    width: 30px;
    height: 24px;
    stroke: none;
    cursor: pointer;
  }
}

.social-links {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.social-icon {
  width: 20px;
  height: 20px;
  stroke: none;
  position: relative;
  fill: #fff;
}

.copyright {
  margin: 60px 0;
  text-align: center;
  font-size: 13px;

  & ul {
    display: flex;
    justify-content: center;

    & li {
      line-height: 1;
    }

    & li + li {
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid;
    }
  }
}

