
@import "colors.css";

.banner {
  position: fixed;
  width: 100%;
  text-align: center;
  background: var(--blackish);
  color: var(--whitish);
  height: 66px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  z-index: 10;
  display: flex;

  &._hidden {
    display: none;
  }
}

.emph {
  font-weight: 600;
}

.content {
  flex-grow: 1;
  margin-left: 38px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 18px;
  margin-right: 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.close {
  color: var(--whitish);
  width: 18px;
  height: 18px;
  line-height: 35px;
}

@media (--medium-only) {
  .banner {
    padding-left: 38px;
  }
}

@media (--small-only) {
  .banner {
    padding-left: 38px;
  }
}
