
@import "colors.css";
@import "variables.css";
@import "media-queries";

.list-item {
  width: calc(33% - var(--grid-margin));
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 19px;
  font-size: 16px;
  color: var(--blackish);
  transition: all 400ms;

  &:hover {
    box-shadow: 0 0 0 1vw var(--whitish), 0 0 0 1.1vw var(--greyish);
    cursor: pointer;
  }
}

.preview {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  color: var(--bunker);
}

.price {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  color: var(--bunker);
}

@media (--small-only), (--medium-only) {
  .list-item {
    width: calc(50% - (var(--grid-margin) / 2));
    margin-bottom: 20px;
  }

  .name {
    margin-top: 10px;
  }
}
