@import 'ui/css/links.css';
@import 'colors.css';
@import 'media-queries.css';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--whitish);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 27px;
  color: var(--whitish);
  text-transform: uppercase;
}

.links {
  composes: links from 'ui/css/links.css';
  flex-direction: column;
}

.link {
  composes: link from 'ui/css/links.css';

  &.link:not(:last-child) {
    margin-right: 0; /* reset margin-right when buttons are not inline */
  }
}

@media (--medium) {
  .banner {
    min-width: 360px;
  }

  .header {
    font-size: 36px;
  }

  .description {
    font-size: 20px;
  }
  .links {
    flex-direction: row;
  }
}
