
@import "colors.css";
@import "variables.css";

.banner {
  color: #314664;
  font-family: var(--font-main);
}

.header {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
}

.description {
  font-size: 17px;
  line-height: 39px;
  font-weight: 400;
}
