@import "colors.css";
@import "variables.css";
@import "media-queries.css";


.banner {
  color: #314664;
  font-family: var(--font-main);
}

.header {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.description {
  font-size: 17px;
  line-height: 39px;
  font-weight: 400;
}

@media (--medium) {
  .header {
    font-size: 36px;
  }
}

@media (--large) {
  .header {
    white-space: nowrap;
  }
}